<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <a href="/create">Create</a>
            <div class="table-responsive">
            <table class="table align-middle">
                <tr>
                    <th>NIK</th>                    
                    <th>Tanggal Lahir</th><!-- comment -->
                    <th>Foto</th>
                </tr>
                  <tr th:each="godummy:${goDummy}">
                      <td th:text="${godummy.id}"></td><!-- comment -->
                      <td th:text="${#calendars.format(godummy.tanggal,'dd-mm-yyyy')}"></td>
                      <td th:text="${godummy.nama}"></td><!-- comment -->
                      <td>
                          <a href="/detil">Detail</a>
                          <a href="/edit">Edit</a><!-- comment -->
                          <a href="/delete">Delete</a>
                      </td>
                </tr>
            </table>
        </div>
    </body>
</html>
